legend{
    font-size: 30px;
    font-weight: bold;
    color: red;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
  }