<br>
<br>
<div class="row">
    <div  class="card col s6">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{product.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{product.name}}<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{product.name}} foto 2<i class="material-icons right">close</i></span>
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{product.image1}}">
          </div>

        </div>
        
      </div> 
       
      <div class= "col s6">
        <h5><i class="material-icons">description</i>Descripción</h5>
        <p>{{product.description}}</p>
        <h5><i class="material-icons">room</i>Dirección</h5>
        <p>{{product.address}}</p>
        <div class= "col s6">
          <h5><i class="material-icons">airline_seat_flat</i>Habitaciones: {{product.rooms}}</h5>
        </div>
        <div class= "col s6">
          <h5><i class="material-icons">bathtub</i>Baños: {{product.bathrooms}}</h5>
        </div>
        <h5>Área: {{product.area}} m<sup>2</sup></h5>
        <h5>Asesor: {{product.encargado}}</h5>
        <h5>Contacto: {{product.contact}}</h5>
        <div class="col s12">
          <a class="waves-effect waves-light btn" (click)="saveSolicitud()"><i class="material-icons right">edit</i>Solicitar</a>
      </div>

      </div>    
</div>


  <!-- Modal Structure -->
  <div id="modalSolicitud" class="modal">
    <div class="modal-content">
      <h4>Inmobiliaria Mchaileh</h4>
      <strong id="SendSolicitud"></strong>
    </div>
    <div class="modal-footer">
      <a  class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>