<br>
<h3 class="center">Nuestras Directrices</h3>
<fieldset>
    <legend>Mision</legend>
    <p>Brindar un servicio de asesoría inmobiliaria personalizada orientada a cuidar el patrimonio de nuestros clientes, con ética y profesionalismo, proporcionando a nuestros clientes asesoría inmobiliaria personalizada e integral, con ética, honestidad y discreción, siempre orientados al servicio personalizado en todas las etapas de nuestra intervención en la venta, compra o alquiler, basados en nuestra experiencia y capacitación en el sector.</p>
  </fieldset>
  <br>
  <fieldset>
    <legend>Vision</legend>
    <p>Ser la mejor alternativa para quienes quieren la ayuda de un profesional inmobiliario, desde una relación cercana y resolutiva, ofreciendo las propuestas más innovadoras.
        Que nuestros clientes se sientan plenamente acompañados y asesorados durante todo el proceso de compra de una propiedad, para mejorar su calidad de vida.</p>
  </fieldset>
  <br>
  <fieldset>
    <legend>Valores</legend>
    <p>Trabajo en equipo: fomentamos la participación de todos para lograr un objetivo común, compartiendo información y conocimientos.

        Conducta ética: actuamos con profesionalidad, integridad moral, lealtad y respeto a las personas.
        
        Orientación al cliente: centramos nuestro esfuerzo en la satisfacción del cliente, aportando soluciones competitivas y de calidad.
        
        Innovación: promovemos mejoras continuas e innovación para alcanzar la máxima calidad desde criterios de rentabilidad.
        Transparencia: Actuando coherentemente con información abierta y oportuna</p>
  </fieldset>
  <br>
  <br>