<br>
<br>
<br>
<br>
<br>
<h2>Registro de usuario</h2>
<form [formGroup]="categoryFormGroup" (ngSubmit)="saveNewUser()">
  <div class="row">
    <div class= "row">
        <div class="input-field col s3">
            <i class="material-icons prefix">account_circle</i>
                <input formControlName="name" id="name" type="text" class="validate">
                  <label for="name">Name</label>
                  <div class="errorContainer" *ngIf="(name.touched || name.dirty) && name.invalid">
                    <div *ngIf="name.errors.required" >
                      ¡Este campo es requerido!
                    </div>
                    <div *ngIf="name.errors.minlength">
                      Es de minimo 4 caracteres de longitd
                    </div>
                    <div *ngIf="name.errors.maxlength">
                      Es de máximo 20 caracteres de longitd
                    </div>
                  </div>
          </div>
          <div class="input-field col s5">
            <i class="material-icons prefix">account_circle</i>
          <input formControlName="email" id="email" type="text" class="validate">
          <label for="name">Correo electrónico</label>
          <div class="errorContainer" *ngIf="(email.touched || email.dirty) && email.invalid">
            <div *ngIf="email.errors.required" >
              ¡Este campo es requerido!
            </div>
            <div *ngIf="email.errors.minlength">
              Es de minimo 4 caracteres de longitd
            </div>
            <div *ngIf="email.errors.maxlength">
              Es de máximo 20 caracteres de longitd
            </div>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
      <input formControlName="username" id="username" type="text" class="validate">
      <label for="username">Username</label>
      <div class="errorContainer" *ngIf="(username.touched || username.dirty) && username.invalid">
        <div *ngIf="username.errors.required" >
          ¡Este campo es requerido!
        </div>
        <div *ngIf="username.errors.minlength">
          Es de minimo 6 caracteres de longitd
        </div>
        <div *ngIf="username.errors.maxlength">
          Es de máximo 8 caracteres de longitd
        </div>
        <div *ngIf="username.errors.email">
          Debe ser un correo válido
        </div>
      </div>
    </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
          <input formControlName="password" id="password" type="password" class="validate">
          <label for="password">Contraseña</label>
          <div class="errorContainer" *ngIf="(password.touched || password.dirty) && password.invalid">
            <div *ngIf="password.errors.required" >
              ¡Este campo es requerido!
            </div>
            <div *ngIf="password.errors.minlength">
              Es de minimo 6 caracteres de longitd
            </div>
            <div *ngIf="password.errors.maxlength">
              Es de máximo 8 caracteres de longitd
            </div>
          </div>
    </div>
</div>
    <div class="row">
        <div class="col s12">
            <button class="btn green" type="submit">
              Crear
              <i class="material-icons prefix">save</i>
            </button>
        </div>
    </div>
  </div>
  </form>
 <!-- Modal Message -->
<div id="saveCMessageModal" class="modal">
  <div class="modal-content">
    <h4>Categoría Eliminada</h4>
    <strong id="strSaveCMessage"></strong>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>