.hero {
    /* Sizing */
    width: 100vw;
    height: 45vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    /* text-align: center;
    color: white; */ /* ADD THIS LINE */
    
    /* Background styles */
    background-image: url('https://s3.amazonaws.com/imagenes.fincaraiz.com.co/FC_COL/Logos/82047_HD_2019-4-11.jpg');
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://s3.amazonaws.com/imagenes.fincaraiz.com.co/FC_COL/Logos/82047_HD_2019-4-11.jpg'); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
  
  .hero h1 {
    /* Text styles */
    font-size: 5em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  }