<br>
<br>
<br>
<a href="/client/creator" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Agregar Categoria</a>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
              Rol
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
        <tr *ngFor="let c of usersList | paginate: { itemsPerPage: 5, currentPage: cp, totalItems: total }" >
            <td>
                {{c.name}}
            </td>
            <td>
                {{c.username}}
            </td>
            <td>
                {{c.email}}
            </td>
            <td>
              {{c.rol}}
            </td>
            <td>
                <a class="waves-effect waves-light btn blue" href="/client/editor/{{c.id}}"><i class="material-icons right">edit</i>Editar</a>
            </td>
            <td>
                    <a *ngIf="!showConfirmationsButtons; else deleteConfirmation" (click)="ChangeConfirmationButtons(c.id)" class="waves-effect waves-light btn red"><i class="material-icons right">delete</i>Eliminar</a>
                    <ng-template #deleteConfirmation>
                    <div *ngIf="idToShowButtons == c.id"> <!-- Sólo mostrará las opciones para el seleccionado -->
                        <!-- <a class="waves-effect waves-light btn green" (click)="deleteUser(c.id)"><i class="material-icons right">done</i>Confirmar</a>&nbsp;&nbsp; -->
                        <a class="waves-effect waves-light btn red" (click)="ChangeConfirmationButtons('')"><i class="material-icons right">cancel</i>Cancelar</a>
                </div>
            </ng-template>
            </td>            
        </tr>
    <tbody>

    </tbody>
</table>

<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
